<%= form_for :session, url: session_path do |form| %>
  <div class="text-field">
    <%= form.text_field :email, placeholder: :email %>
  </div>

  <div class="password-field">
    <%= form.password_field :password, placeholder: :email %>
  </div>

  <div class="submit-field">
    <%= form.submit %>
  </div>
<%= link_to "Sign in with Facebook", "/auth/facebook" %><br>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %><br>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>
