	<%= form_tag :search, url: search_path do %>
 		<div class="form-group">
 			<%= label_tag :item_title %>
 			<%= select_tag :item_title, options_for_select(Posting.all.map{|x| x.item_title}.uniq) %>
 		</div>
 		<%= submit_tag "Submit" %>
 	<% end %><br>

<% if "Submit" %>

<% @posting.each do |p|  %>

<a href="/postings/<%= p.id %>/"><%= p.item_title %></a><br>

 <% p.images.each do |image| %>
		<%= image_tag image %>
  <% end %><br>

<%= p.item_description %><br><br>
  <br>

  <b>CONTACT: </b><%= p.user.forenames %> <%= p.user.surname %>, <%= p.user.email %>
  <br>
  <br>  
<iframe
  width="350"
  height="350"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBrsJ45J6WAoZPqKQTFsOv8qqLCoMaCtFg
    &q=<%= p.user.address %>" allowfullscreen>
</iframe>
<br>

<% end %><br>

<% else %>

<% end %>



