<div class="text-field">
  <%= form.text_field :email, placeholder: :email %>
</div>

<div class="text-field">
  <%= form.text_field :username, placeholder: :username %>
</div>

<div class="text-field">
  <%= form.text_field :forenames, placeholder: :forenames %>
</div>

<div class="text-field">
  <%= form.text_field :surname, placeholder: :surname %>
</div>

<div class="text-field">
  <%= form.text_field :address, placeholder: :address %>
</div>

<div class="text-field">
  <%= form.text_field :city, placeholder: :city %>
</div>

<div class="text-field">
  <%= form.text_field :county, placeholder: :county %>
</div>

<div class="text-field">
  <%= form.text_field :postal_code, placeholder: :postal_code %>
</div>

<%= form.label :image %>
<%= form.file_field :image %>
