<%= link_to 'Delete User', user_path, method: :delete, 'data-confirm' => 'Are you sure?' %>

<%= link_to 'Edit User', edit_user_path  %>

<%= link_to 'Search', search_index_path  %>

<br>

<%= image_tag @user.image_url(:thumb) if @user.image? %><br>
<%= @user.forenames %><br>
<%= @user.surname %><br>
<%= @user.email %><br>
<%= @user.username %><br>
<%= @user.address %><br>
<%= @user.city %><br>
<%= @user.county %><br>
<%= @user.postal_code %><br><br>


<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">New Posting</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <%= form_for(@posting, remote: true, authenticity_token: true) do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Posting</h4>
      </div>
      <div class="modal-body">
      	<div class="field">
			<%= f.text_field :item_title, placeholder: :item_title %><br>
		</div>	
		<div class="field">
			<%= f.text_field :item_description, placeholder: :item_description %><br>
		</div>
		<div class="field">	
			<%= f.label :images %><br>
			<%= f.file_field :images, multiple: true %><br>
		</div>
		<div class="field">	
			<%= f.submit %>
		</div>	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<% end %>

<br>
<br>

<h3><%= @user.forenames %>'s postings</h3>

<br>


<% @user.postings.each do |p|  %>

<a href="/postings/<%= p.id %>/"><%= p.item_title %></a><br>

 <% p.images.each do |image| %>
		<%= image_tag image %>
  <% end %><br>

<%= p.item_description %><br><br>

<% end %><br>




